@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #ff0676;
    background-color: #0581ab; /* Cor de fundo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    overflow: hidden; /* Evita rolagem na página */
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%; /* Ajusta a largura máxima para 100% */
    padding: 20px; /* Adiciona um pouco de padding ao redor */
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}

.formCadastroLivro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 15px;
    width: 100%;
    max-width: 500px; /* Define a largura máxima do formulário */
    max-height: 80vh; /* Define a altura máxima do formulário para evitar esticar verticalmente */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    box-sizing: border-box;
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
}

    .formCadastroLivro h1 {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 1.5em;
        text-align: center;
    }

    .formCadastroLivro input {
        padding: 15px;
        font-size: 14px;
        border: 1px solid #ccc;
        margin-bottom: 15px; /* Reduz o espaço inferior para melhorar o layout */
        border-radius: 4px;
        transition: all linear 160ms;
        outline: none;
        box-sizing: border-box;
    }

        .formCadastroLivro input:focus {
            border: 1px solid #f72585;
        }

    .formCadastroLivro label {
        font-size: 14px;
        font-weight: 600;
    }

    .formCadastroLivro a {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 13px;
        color: #555;
        transition: all linear 160ms;
    }

        .formCadastroLivro a:hover {
            color: #f72585;
        }

.btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    padding: 10px 20px;
}

    .btn:hover {
        transform: scale(1.05);
        background-color: #ff0676;
    }
