body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #ff0676;
    background-color: #0581ab;
    min-height: 100vh; 

.space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px; 
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 
    padding: 20px;
    box-sizing: border-box; 
    background-color: #0581ab; 
}

.formLogin {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 15px; 
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    width: 100%;
    max-width: 600px; 
}

   
    .formLogin h1 {
        grid-column: 1 / -1;
        text-align: center;
        font-weight: 500;
        font-size: 2.3em;
    }

    .formLogin input[type="submit"] {
        grid-column: 1 / -1;
        background-color: #f72585;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: all linear 160ms;
        text-align: center;
        border-radius: 10px;
    }

        .formLogin input[type="submit"]:hover {
            transform: scale(1.05);
            background-color: #ff0676;
        }

    .formLogin a {
        grid-column: 1 / -1;
        text-align: center;
        font-size: 13px;
        color: #555;
    }

.form-group {
    display: flex;
    flex-direction: column;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all linear 160ms;
    box-sizing: border-box; 
}

    .formLogin input:focus {
        border: 1px solid #f72585;
    }
