/* Estilização do Header e Navbar */
header {
    background-color: #343a40; /* Cor de fundo escura para o header */
    border-bottom: 1px solid #444; /* Linha de separação inferior mais sutil */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra mais forte */
}

.navbar {
    padding: 15px 30px;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: 700;
    color: #f8f9fa; /* Cor clara para contraste */
    text-transform: uppercase;
    letter-spacing: 1px; /* Espaçamento entre letras */
}

.navbar-nav .nav-link {
    font-size: 15px;
    color: #f8f9fa;
    padding: 12px 20px;
    transition: color 0.3s, background-color 0.3s;
}

    .navbar-nav .nav-link:hover {
        color: #343a40;
        background-color: #f8f9fa; /* Cor de fundo do link ao passar o mouse */
        border-radius: 50px; /* Bordas arredondadas mais pronunciadas */
    }

.navbar-nav .dropdown-menu {
    background-color: #343a40;
    border: 1px solid #444;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

    .navbar-nav .dropdown-menu .dropdown-item {
        color: #f8f9fa;
        font-size: 14px;
        padding: 10px 20px;
    }

        .navbar-nav .dropdown-menu .dropdown-item:hover {
            background-color: #495057;
            color: #f8f9fa;
        }

/* Estilização do botão de login */
.btn-secondary {
    background-color: #f72585;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px; /* Bordas arredondadas para um visual mais moderno */
    transition: background-color 0.3s, transform 0.3s;
}

    .btn-secondary:hover {
        background-color: #05a364;
        transform: scale(1.05);
    }
